/* EXERCISE 2:  
       Create a CSS class for the task list with a diverse background
       Create a CSS class for the task list item with a border, a bold text and a bigger font size
       Style every button of the page to be bigger
    */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.taskList {
  background-color: #bffcff;
  border: 3px solid #558587;
  font-weight: bold;
  font-size: 22px;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  width: 100%;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  color: #fff;
  padding: 20px;
}

.text {
  width: 50%;
}

.instructions {
  height: 2px;
  margin-top: 12px;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
